@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 0 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #15058f;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card-details-image{
  width: 100%;
}

.card-details-image img{
  width: 350px;
}
.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #15058f;
  color: #15058f;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #15058f;
  color: white;
}

.cart-total-price{
  background-color: #15058f;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart-list-items{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;
}

.cart-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}